@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root{
  --back-ground-primary:#121927;
  --border: #232c3c;
  --text-white: #ffffff;
  --text-black: #000000;
  --green-htb: #9fef00;
  --text-gray-claro: #8799b5;
  --bg-secondary-blog: #1e2939;
}

body {
  font-family: "Onest", sans-serif;
}
.prose pre {
  overflow-x: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #020617; /* oscuro tipo hacker */
}
.prose pre {
  overflow-x: auto;
}